.chart {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

.input-container {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

.input-fields {
    display: flex;
}